/*********
 * gedit *
 *********/
 
GeditWindow .pane-separator, 
GeditWindow .pane-separator:hover {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@background, 0.8);
    background-color: shade(@background, 1.02);
    color: shade(@background, 0.8);
}

GeditPanel.title GtkLabel {
    padding: 4px 0;
}

GeditPanel.vertical .title {
    padding: 4px 0 4px 3px;
    border-style: none;
}

GeditPanel .toolbar {
    border-style: none;
    background-color: transparent;
}

GeditDocumentsPanel .view {
    background-color: @background;
}

GeditPanel.vertical .notebook {
    padding: 0;
    border-width: 1px 0;
}

GeditPanel.horizontal .notebook {
    padding: 0;
    border-width: 0 1px 1px 0;
}

GeditWindow .notebook {
    border-width: 1px 0;
}

GeditPanel .notebook tab,
GeditWindow .notebook tab {
    border-width: 0;
}

GeditStatusComboBox .button,
GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    padding: 1px 6px 2px 4px;
    border-style: solid;
    border-width: 0 1px;
    border-radius: 0;
}

GeditStatusComboBox .button:hover,
GeditStatusComboBox .button:active,
GeditStatusComboBox .button:active:hover {
    border-color: shade(@background, 0.8);
}

GeditViewFrame .gedit-search-slider {
    padding: 4px;
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: shade(@base, 0.8);
    background-color: @base;
}

GeditViewFrame .gedit-search-slider .not-found {
    background-color: @error_background;
    background-image: none;
    color: @error_foreground;
}

GeditViewFrame .gedit-search-slider .not-found:selected {
    background-color: @selected_background;
    color: @selected_foreground;
}

GeditFileBrowserWidget .primary-toolbar.toolbar  {
    padding: 2px;
    border-top: none;
    background-color: @background;
    background-image: none;
}