UnityPanelWidget,
.unity-panel {
    background-color: @bg_color;
    border-top-color: alpha (@fg_color, 0.3);
    border-style: solid;
    border-width: 1px 0 0 0;

/*    -unico-border-gradient: none; */
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 1px 1px 0 1px;

    icon-shadow: 0px -1px shade (@dark_bg_color, 0.7);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (alpha (@bg_color, 0.7)),
                                     to (alpha (@bg_color, 0.5)));

    color: shade (@fg_color, 0.4);

/*    -unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
                                           from (shade (@dark_bg_color, 1.08)),
                                           to (shade (@dark_bg_color, 0.98)));
    -unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
                                                 from (shade (@dark_bg_color, 1.8)),
                                                 to (shade (@dark_bg_color, 1.2))); */
}
