emacs.d/auto-save-list/
emacs.d/elpa/
emacs.d/site-lisp/
emacs.d/company-statistics-cache.el
emacs.d/.cache/
emacs.d/projectile*
emacs.d/recentf
emacs.d/srecode-map.el
emacs.d/.bookmarks.el
emacs.d/image-dired/
emacs.d/init.el~
emacs.d/newsticker/
emacs.d/recentf~
emacs.d/url/