/*********************
 * Unity Decorations *
 *********************/

UnityDecoration {

    /* Border properties (top, right, bottom, left) */
    -UnityDecoration-extents: 28px 0 0 0;/* the size of the decorations  */
    -UnityDecoration-input-extents: 10px;/* the extra size of the input areas */

    /* Shadows settings */
    -UnityDecoration-shadow-offset-x: 1px;/* Size property, the shadow x offset */
    -UnityDecoration-shadow-offset-y: 5px;/* Size property, the shadow y offset */
    -UnityDecoration-active-shadow-color: rgba (0, 0, 0, 0.75);/* Color property, active window shadow color */
    -UnityDecoration-active-shadow-radius: 30px;/* Size property, active window shadow radius */
    -UnityDecoration-inactive-shadow-color: rgba (0, 0, 0, 0.3);/* Color property, inactive windows shadow color */
    -UnityDecoration-inactive-shadow-radius: 25px;/* Size property, inactive windows shadow radius */

    /* Glow applied to the selected scaled window */
    -UnityDecoration-glow-size: 8px;/* Size property, size of glow */
    -UnityDecoration-glow-color: rgb(159, 68, 173);/* Color property of the glow */

    /* Title settings */
    -UnityDecoration-title-indent: 10px;/* Size property, left indent of the title */
    -UnityDecoration-title-fade: 35px;/* Size property, space of the title that can be faded */
    -UnityDecoration-title-alignment: 0.0;/* Float from 0.0 to 1.0, to align the title */
}

UnityDecoration.top {
    padding: 0 8px 0 8px;
    border: 1px solid alpha(@panel,0.8);
    border-bottom-width: 0px;
    border-radius: 8px 8px 0 0;
    box-shadow: none;
    background-image: none;
    background-color: @panel;
    color: @panel_text;
    text-shadow: 0 1px @panel_text_shadow;
}

UnityDecoration.top.menuitem {
    color: @panel_text;
    text-shadow: 0 1px @panel_text_shadow;
}

UnityDecoration.top:backdrop {
    border: 1px solid alpha(@panel,0.9);
    box-shadow: none;
    background-image: none;
    background-color: @backdrop_foreground;
    color: @backdrop_background;
    text-shadow: none;
}

UnityDecoration.left,
UnityDecoration.right {
    background-color: transparent;
    background-size: 1px;
    background-repeat: repeat-x;
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop (0, @panel),
                                     color-stop (0.5, @border),
                                     color-stop (1, @border));
}

UnityDecoration.bottom {
    background:none;
    background-color: alpha(white,0.4);
}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop,
UnityDecoration.bottom:backdrop {
    background-color: alpha(white,0.4);
    color: shade(@panel_text, 0.99);
}

/***************
* Unity Panel *
***************/

UnityPanelWidget,
.unity-panel {
	border-bottom: 1px solid shade(@panel,0.99);
	background-color: @panel;
	background-image: none;
	color: @panel_text;
    text-shadow: 1px 0 @panel_text_shadow, -1px 0 @panel_text_shadow, 0 1px @panel_text_shadow, 0 -1px @panel_text_shadow;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0 1px;
    text-shadow: 1px 0 @panel_text_shadow;
    color: @panel_text;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menubar:backdrop,
.unity-panel .menubar *:backdrop {
    color: @backdrop_background;
}

.unity-panel.menubar.menuitem,
.unity-panel.menubar .menuitem {
    padding: 3px 5px;
    border-width: 1px;
    border-style: solid;
    border: 1px solid transparent;
    background-color: transparent;
    background-image: none;
    color: @panel_text;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem:hover {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 0px;
    border: 1px solid shade(@panel, 0.7);
    background-color: shade(@panel, 0.8);
    color: white;
}

.unity-panel.menubar .menuitem *:hover {
    color: white;
}

.unity-panel.menubar .menuitem.separator,
.unity-panel.menubar.menuitem.separator {
    -GtkMenuItem-horizontal-padding: 0;
    -GtkWidget-separator-height: 1;
    border: none;
    color: @menu_separator;
}